@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans transition-colors duration-300;
  }
  .dark body {
    @apply bg-gray-950 text-white;
  }
}